doctype html5

html.no-js(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='format-detection', content='telephone=no')

    block htmlhead

    link(rel='stylesheet', href='#{relativePath}/css/main.css')

  body
    include /components/components
    block htmlbody

    block js
      script(src='#{relativePath}/bower_components/requirejs/require.js')
      script(src='#{relativePath}/js/main.js')

      script.
        requirejs.config({
          baseUrl: '#{relativePath}/js/',
          paths: {
            jquery: '#{relativePath}bower_components/jquery/dist/jquery',
            mediaQuery: '#{relativePath}bower_components/sensible/mediaQuery'
            /* add compoenents as this
            mycomponent: '#{relativePath}components/mycomponent/mycomponent'
            */
          },
          shim: {}
        });



      //
        Google Analytics: change UA-XXXXX-X to be your sites ID.
        script.
          (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
          e=o.createElement(i);r=o.getElementsByTagName(i)[0];
          e.src='//www.google-analytics.com/analytics.js';
          r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
          ga('create','UA-XXXXX-X');ga('send','pageview');
