mixin component-info-bar()
  .styleguide-component-info-bar
    h2.styleguide-label Description
    p.styleguide-body #{component.description}

    h2.styleguide-spacing-top--large.styleguide-label Options
    ul.reset-list.component-option-list
      - for(var key in component.options)
        li
          - var option = component.options[key]
            label(for="#{key}").component-option-title #{key}:
            .custom-select.styleguide-select
              select(name=key)
                - for (var index in option.values)
                  - var value = option.values[index]
                  - var selected = component.options[key].default == value
                  option(selected=selected) #{value}

    h2.styleguide-spacing-top--large.styleguide-label Usage
    each combination, index in component.combinations
      - var klass = index === 0 ? 'is-active' : ''
      pre.styleguide-combination-usage(
        data-options="#{JSON.stringify(combination)}"
        class=klass
      )
        |+#{component.name}(data, #{JSON.stringify(combination, undefined, 2)})
