mixin navigation-bar()
  .styleguide-navigation-bar
    h2.styleguide-nav-item: a(href="#{relativePath}styleguide") Overview

    h2.styleguide-label Styles
    ul.styleguide-navigation-group-items
      li.styleguide-nav-item: a(href="#{relativePath}styleguide/styles/colors.html") colors
      li.styleguide-nav-item: a(href="#{relativePath}styleguide/styles/typography.html") typography
      li.styleguide-nav-item: a(href="#{relativePath}styleguide/styles/icons.html") icons

    h2.styleguide-spacing-top--large.styleguide-label Components
    ul.styleguide-navigation-group-items
      - each component in components
        if component.hideInStyleguide
        else
          li.styleguide-nav-item: a(href="#{relativePath}styleguide/components/#{component.name}.html") #{component.name}

    h2.styleguide-spacing-top--large.styleguide-label Pages

