mixin main-view()
  .styleguide-mainview
    .component-combinations.l-grid
      each combination, index in component.combinations
        - var klass = index === 0 ? 'is-active' : ''
        iframe.component-combination-iframe.l-grid-cell.l-one-whole(
          src="#{component.name}/c#{index}.html",
          class="component-combination-iframe-#{index} #{klass}",
          frameBorder="0",
          data-options="#{JSON.stringify(combination)}"
        )
    .component-usage-container
      .component-usage-tabs
        .styleguide-tabs-contianer
          a.styleguide-tab.active(data-tab-name="usage") Usage
          a.styleguide-tab(data-tab-name="html") HTML
        .styleguide-tab-container.active.styleguide-tab-container--usage
          pre +#{component.name}(data, options)
        .styleguide-tab-container.styleguide-tab-container--html
          pre
            |  var c = foo;
